// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #888;
@light-gray: #555;
@gray: #111;

@cyan: lighten(cyan, 35%);
@blue: lighten(blue, 35%);
@purple: lighten(purple, 60%);
@green: lighten(green, 60%);
@red: lighten(red, 25%);
@orange: lighten(orange, 25%);
@light-orange: lighten(yellow, 30%);
