// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #777;
@light-gray: #555;
@gray: #111;

@white: white;
@cyan: lighten(cyan, 30%);
@blue: lighten(blue, 35%);
@purple: lighten(purple, 65%);
@green: lighten(green, 60%);
@red: lighten(red, 35%);
@orange: lighten(orange, 30%);
@light-orange: lighten(yellow, 30%);
