// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #777;
@light-gray: #555;
@gray: #111;

@white: white;
@cyan: lighten(cyan, 40%);
@blue: lighten(blue, 45%);
@purple: lighten(purple, 75%);
@green: lighten(green, 70%);
@red: lighten(red, 45%);
@orange: lighten(orange, 40%);
@light-orange: lighten(yellow, 40%);
